<h1>Never do this in production</h1><br>
<h5>Enter your PostgreSQL query here</h5>
<form method="POST" action="/cars/carsOutput">
  <textarea name="command"></textarea>
  <button type="submit">See the results!</button>
</form>
